<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <p><%= link_to 'Portuguese', root_path(locale: 'pt-BR') %> <%= link_to 'English', root_path(locale: 'en') %></p>
    </div>
    <%= yield %>
  </body>
</html>
