<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :acronym %>
    <%= form.text_field :acronym %>
  </div>

  <div class="field">
    <%= form.label :url_image %>
    <%= form.text_field :url_image %>
    <%= image_tag coin != nil && coin.url_image ? coin.url_image : '' , width:25, height:25 %> 
  </div>

  <div class="field">
    <%= form.label :mining_type%>
    <%= form.select("mining_type_id",  @mining_type_options )%>
    <!--<%= form.select("mining_type_id", MiningType.all.collect{|m| [m.description, m.id]}, {include_blank: true}) %> -->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <!--<%= link_to t('labels.new_coin'), new_coin_path, class:"btn btn-primary" %>-->
  <%= link_to t('labels.back'), coins_path, class:"btn btn-light" %>
<% end %>
