<p id="notice"><%= notice %></p>

<h1><%= t('labels.coin')%></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('labels.description')%></th>
      <th><%= t('labels.acronym')%></th>
      <th><%= t('labels.url_image')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><%= image_tag coin != nil && coin.url_image ? coin.url_image : '' , width:25, height:25 %> </td>
        <!--
         No mostrar e apagar o ruby se vira com a rota ao colocar a variavel do model.
         Caso quisessemos colocar o coin_path. deveria ser assim:
         coin_path(coin.id)
         Ou seja:
         isso: <%= link_to 'Mostrar', coin %> é igual a 
         isso: <%= link_to 'Mostrar', coin_path(coin.id) %>
         -->
        <td><%= link_to t('links.show'), coin %></td>
        <td><%= link_to t('links.edit'), edit_coin_path(coin) %></td>
        <td><%= link_to t('links.delete'), coin, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>
  <%= link_to t('labels.new_coin'), new_coin_path %>
</div>
<div>
  <%= link_to t('labels.back'), welcome_index_path %>
</div>