<p id="notice"><%= notice %></p>


<form>
  <fieldset disabled>
    <div class="form-group">
      <%= label_tag nil, I18n.t('labels.description') %>
      <%= text_field_tag nil, @coin.description, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag nil, I18n.t('labels.acronym') %>
      <%= text_field_tag nil, @coin.acronym, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag nil, I18n.t('labels.url_image') %>
      <%= text_field_tag nil, @coin.url_image, class:"form-control" %>
      <%= image_tag @coin != nil && @coin.url_image ? @coin.url_image : '' , width:25, height:25 %> 
    </div>

    <div class="form-group">
      <%= label_tag nil, I18n.t('labels.mining_type') %>
      <%= text_field_tag nil, "#{@coin.mining_type.acronym} - #{@coin.mining_type.description}", class:"form-control" %>
    </div>
  </fieldset>
</form>


<%= link_to t('labels.edit'), edit_coin_path(@coin), class:"btn btn-primary" %>
<%= link_to t('labels.back'), coins_path, class:"btn btn-light" %>